.product-item {
  @apply w-80
  h-[24rem]
  border
  border-[1px]
  border-[#e1e1e1];
}

.product-img {
  @apply bg-[#f1f1f1]
  flex
  justify-center;
}

.product-img img {
  @apply w-56
  h-60;
}

.product-detail {
  @apply ml-5
  mt-4;
}

.produc-name {
  @apply text-gray-900
  text-sm
  font-normal;
}

.produc-brand {
  @apply text-gray-500
  font-medium;
}

.product-card-buttom {
  @apply flex
  justify-between
  items-center
  w-[17rem]
  text-gray-700
  text-xl
  font-bold
  mt-2;
}
