.table {
  width: 800px;
  text-align: center;
}

.cart-table {
  display: flex;
  text-align: center;
  justify-content: center;
}

.table tr td img {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}
