.common-section {
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),
    url("../../../assets/images/bedroom.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px 0px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.common-section h1 {
  color: #fff;
  font-weight: 600;
}
